<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context/ 
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    <bean id="happyFortune" class="com.ashraf.springdemo.HappyFortuneService">
    </bean>
    <bean id="sadFortune" class="com.ashraf.springdemo.SadFortuneService">
    </bean>
    
    <bean id="cCoach" class="com.ashraf.springdemo.CricketCoach">
    	<constructor-arg ref="happyFortune"/>
    </bean>
    <bean id="fCoach" class="com.ashraf.springdemo.FootballCoach">
    	<constructor-arg ref="happyFortune"/>
    </bean>
    <bean id="gCoach" class="com.ashraf.springdemo.GolfCoach">
    	<constructor-arg ref="sadFortune"/>
    </bean>
</beans>